body{
  overflow-x: hidden;
}
//banner swiper
.swiper{
  height:calc(100vh - 74px);
}
.swiper-desc-title-md{
  font-size:36px;
  &-p{
    font-size:20px;
  }
}
.swiper-desc-title-lg{
  font-size:48px;
}
.swiper-slide{
  position: relative;
}
.swiper-container-lg{
  display:none;
  @include media-breakpoint-up(lg){
    max-width: 1296px;
    display: block;
    background-repeat: no-repeat;
    background-position: right;
    height:100%;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  &-left{
    @include media-breakpoint-up(lg){
      max-width: 1296px;
      display: block;
      background-repeat: no-repeat;
      background-position: left;
      height:100%;
      position: absolute;
      top:20%;
      left:50%;
      transform: translate(-50%,-50%);
    }
  }
}
.swiper-desc-btn{
  @include media-breakpoint-up(lg){
    max-width: 128px;
  }
}
.swiper-desc-lg{
  @include media-breakpoint-up(md){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top:50%;
    left: 80%;
    transform: translate(-50%,-50%);
    text-align: left;
    padding-top: 56px;
    font-weight:700;
    color:$grey-000;
  }
  &-left{
    display: none;
    @include media-breakpoint-up(lg){
      display: flex;
      flex-direction: column;
      position: absolute;
      top:50%;
      left: 30%;
      transform: translate(-50%,-50%);
      text-align: left;
      padding-top: 60px;
      font-weight:700;
      color:$grey-000;
    }
  }
}
.swiper-container-md{
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: top center;
  height:100%;
  position: absolute;
  top:16px;
  left:50%;
  transform: translateX(-50%);
  @include media-breakpoint-up(lg){
    display:none;
  }
}
.swiper-desc-md{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  font-weight:700;
  color:$grey-000;
}



//Top-pick-lg-layout
.section-top-pick{
  position: relative;
  &-background{
    position:absolute;
    left:50%;
    top:80px;
    transform: translateX(-50%);
  }
  &-name{
    position: absolute;
    left:50%;
    top:80px;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: 700;
    color:$grey-000;
    top:98px;
    &-sub{
        font-size: 20px;
        font-weight: 700;
    }
    @include media-breakpoint-up(sm){
        top:95px;
        font-size:30px;
        &-sub{
          font-size: 32px;
          font-weight: 700;
      }
    }
    @include media-breakpoint-up(lg){
        font-size: 48px;
        font-weight: 700;
        top:105px;
    }
  }
  &-decoration{
    position: absolute;
    left:68%;
    top:90px;
    @include media-breakpoint-up(md){
      left:66%;
      top:95px;
    }
    @include media-breakpoint-up(lg){
      left:64%;
      top:97px;
    }
    @include media-breakpoint-up(xl){
      left:62%;
      top:98px;
    }
    @include media-breakpoint-up(xxl){
      left:60%;
      top:100px;
    }
  }
  &-content{
    padding-top: 248px;
  }
  &-btn{
    @include media-breakpoint-up(lg){
      max-width:96px;
    }
  }
  &-swiper-slide{
    margin-top: 200px;
    background-color: $secondary-300;
  }
}
.top-pick-title-lg{
    font-size: 30px;
    font-weight: 700;
    color:$primary-700;
}
.top-pick-desc-lg{
    font-size: 18px;
    color:$primary-900;
}
.section-top-pick-btn{
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px solid $grey-400;
}
.section-top-pick-swiper-wrapper {
  display: flex;
}
.section-top-pick-swiper-slide{
  height: 100%;
}

//dessert-story
.section-dessert-story{
  padding-top: 80px;
  position: relative;
  &-background{
    position:absolute;
    left:50%;
    transform: translateX(-50%);  
  }
  &-name{
    position:absolute;
    left:50%;
    top:90px;
    transform: translateX(-50%);
    font-size: 21px;
    font-weight: 700;
    color:$grey-000;
    z-index: 10;
    &-sub{
      font-size: 14px;
      z-index: 10;
    }
    @include media-breakpoint-up(sm){
      font-size: 27px;
      top:98px;
      &-sub{
        font-size: 18px;
      }
    }
    @include media-breakpoint-up(md){
      font-size: 30px;
      top:100px;
      &-sub{
        font-size: 20px;
      }
    }
    @include media-breakpoint-up(lg){
      font-size: 48px;
      &-sub{
        font-size: 32px;
      }
    }  
  }
  &-content{
    padding-top: 136px;
    @include media-breakpoint-up(lg){
      padding-top: 248px;
    }
  }
  &-decoration{
    position: absolute;
    left:69%;
    top:80px;
    z-index: 1;
    @include media-breakpoint-up(md){
      left:70%;
      top:95px;
    }
    @include media-breakpoint-up(lg){
      left:69%;
      top:97px;
    }
    @include media-breakpoint-up(xl){
      left:67%;
      top:98px;
    }
    @include media-breakpoint-up(xxl){
      left:65%;
      top:100px;
    }
  }
  &-content-card{
    border:1px $primary-800 solid;
    border-radius: 100px 25px 25px 25px;
    @include media-breakpoint-up(lg){
      border-radius: 150px 50px 50px 50px;
    }
    &-body{
      padding: 40px;
    }
    &-type{
      width:132px;
      background-color: $secondary-300;
      border:1px solid $secondary-700;
      padding:4px 8px;
      color:$grey-700;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
    }
    &-title{
      color:$grey-700;
      font-weight: 700;
      font-size:30px;
      padding-bottom: 8px;
    }
    &-text{
      font-size: 16px;
      padding-top:8px;
    }
    &-link{
      padding-right: 8px;
    }
  }
  &-content-card-img{
    border-radius: 100px 25px 0px 0px;
    @include media-breakpoint-up(lg){
      border-radius: 150px 0px 0px 50px;
    }
  }
}
.writer-name{
  padding-left: 8px;
}
.writer-img{
  max-width: 32px;
  object-fit: contain;
}
.writer-date{
  padding-right:8px;
}
.section-dessert-story-content-cards{
  padding-top: 40px;
  padding-bottom: 120px;
}
.section-dessert-story-content-cards-list{
  height: 100%;
  border:1px $primary-800 solid;
  border-radius: 50px;
  &-img{
    border-radius: 50px 50px 0px 0px;
    padding-bottom: 16px;
  }
}
.section-dessert-story-content-cards-body{
  padding: 24px;
}
.section-dessert-story-content-cards-type{
  background-color: $secondary-300;
  border:1px solid $secondary-700;
  padding:4px 8px;
  color:$grey-700;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.section-dessert-story-content-cards-title{
  color:$grey-700;
  font-weight: 700;
  font-size:30px;
  padding: 8px 0px;
}
.section-dessert-story-content-cards-text{
  font-size: 16px;
  color: $grey-700;
  max-height: 60px;            /* 規定他的高度 */
  overflow: hidden;
  display: -webkit-box;        /* 使元素以彈性盒子布局 */
  -webkit-line-clamp: 2;       /* 顯示兩行文字 */
  -webkit-box-orient: vertical;
  padding-top: 8px;
}
//about
.section-about{
  padding-bottom: 120px;
  position: relative;
  &-background{
    position:absolute;
    left:50%;
    transform: translateX(-50%);  
  }
  &-name{
    position:absolute;
    left:50%;
    top:10px;
    transform: translateX(-50%);
    font-size: 21px;
    font-weight: 700;
    color:$grey-000;
    z-index: 10;
    &-sub{
      font-size: 14px;
      z-index: 10;
    }
    @include media-breakpoint-up(sm){
      font-size: 27px;
      top:20px;
      &-sub{
        font-size: 18px;
      }
    }
    @include media-breakpoint-up(md){
      font-size: 30px;
      top: 20px;
      &-sub{
        font-size: 20px;
      }
    }
    @include media-breakpoint-up(lg){
      font-size: 48px;
      &-sub{
        font-size: 32px;
      }
    }  
  }
  &-content{
    padding-top: 136px;
    @include media-breakpoint-up(lg){
      padding-top: 248px;
    }
  }
  &-decoration{
    position: absolute;
    left:66%;
    top:3px;
    z-index: 1;
    @include media-breakpoint-up(md){
      left:66%;
      top:9px;
    }
    @include media-breakpoint-up(lg){
      left:64%;
      top:10px;
    }
    @include media-breakpoint-up(xl){
      left:61%;
      top:10px;
    }
    @include media-breakpoint-up(xxl){
      left:60%;
      top:10px;
    }
  }
  &-text{
    font-size: 32px;
    text-align: center;
    padding-top: 60px;
    @include media-breakpoint-up(md){
      font-size: 64px;
      text-align: left;
      padding-left: 88px;
    }
    @include media-breakpoint-up(lg){
      padding-top: 0;
    }
  }
}

//line客服
.section-support{
  position: relative;
  &-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    @include media-breakpoint-up(md){ 
      left:60%;
      top:50%;
      transform: translateY(-50%);
    }
    
  }
  &-img{
    width:80px;
    @include media-breakpoint-up(sm){
      width: 120px;
    }
    @include media-breakpoint-up(md){
      width: 100px;
    }
    @include media-breakpoint-up(lg){
      width: 150px;
    }
  }
  &-text{
    font-weight: 700;
    color:$grey-000;
    @include media-breakpoint-up(md){
      font-size: 32px;
    }
    @include media-breakpoint-up(lg){
      font-size: 40px;
    }
    @include media-breakpoint-up(xl){
      font-size: 48px;
    }
  }
}


.lg-layout{
  display:none;
  @include media-breakpoint-up(lg){
    display:block;
  }
}
//Top-pick-md-layout
.md-layout{
    display:block;
    @include media-breakpoint-up(lg){
      display:none;
    }
  }