
//團隊甜點創作靈感背景，為了控制餅乾圖拉出來特別寫
.inspiration-bg {
  position: relative;
  width: 100%; 
  overflow: hidden; //隱藏超出區塊的餅乾圖片

}
//為了把背景跟容器分開，另外再開一個最外層container
.inspiration-box{
  position: relative;
  overflow: hidden;
  height: 650px;  // 為了讓餅乾圖絕對定位在左下，寫死高
  padding-top: 100px;
}
@media (max-width:768px){
  .inspiration-box{
    height: 750px;
    padding-top: 50px;
    // overflow: hidden;
  
  }
}
@media (max-width:576px){
  .inspiration-box{
    height: 1000px;
    padding-top: 50px;
    overflow: visible;
  }
}
// 餅乾圖-start
.position-r{
  position: relative;
}
.cookie-img{
  position: absolute;
  left: -150px;
  bottom: -200px;
  width: 40%; 
  height: auto;
}
@media(max-width:768px){
  .cookie-img{
    left: -145px;
    bottom: -50px;
    width: 60%; 
    height: auto;
  }
}

@media(max-width:576px){ 
  .cookie-img{
    left: -115px;
    bottom:-15px;
    width: 80%; 
    height: auto;
  }
}
// 餅乾背景圖-end

//團隊甜點創作靈感卡片-start
.intro-card{
  border: none;
  background-color: #FDF8EF;
  margin-left: 100px;
  width: 416px;

}
@media (max-width: 768px) {
  .intro-card {
    order: -1;  //將卡片順序提前 
    width: 350px; 
    margin-bottom: 60px; 
    margin-left: 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
}
@media(max-width:567px){
  .btn-md{
    width: 100%;
  }
  .intro-card{
    text-align: center;
  }
  .inspiration-box{
    flex-direction: column; 
    flex-wrap: nowrap;
    
  }
}
//團隊甜點創作靈感卡片-end
  
//第一個 swiper-start
.swiper-container {
  position: relative;
  width: 100% ;
  margin-left: auto;    //讓輪播區域靠右
  overflow: hidden;
}
@media (max-width: 992px) {
  .swiper-container {
    width: 100%; 
    margin-left: auto;
    overflow: hidden;
  }
}
@media (max-width: 576px) {
  .swiper-container {
    width: 100%; 
    margin-left: 0; 
  }
}

.swiper-wrapper{
  position: relative;
}
.swiper-slide {
  width: 405px;
  height: 333px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 50px;
  
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  position: absolute; 
  color:#623f2b ;
  z-index: 10; //確保顯示在卡片上 

  top: 80%; //讓箭頭按鈕移到slide下方 
  transform: translateY(-50%); //垂直居中對齊
  margin-top: 20px; //與 slide 保持距離 
}

//  調整箭頭的大小 
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
}


.swiper-pagination {
  text-align: center;
  position: relative; 
  // bottom: -100px; 
  width: 100%;   
  margin-top: 120px; /* 與 slide 之間的距離 */
  z-index: 10;
  
  
}

.swiper-pagination-bullet {
  background-color: #e4d2c8; 
  opacity: 0.7; 
}

.swiper-pagination-bullet-active {
  background-color: #623f2b; 
}
//第一個swiper-end

.sp-card{
  width: 100%;
  height: auto;
  border-color: #83543A;
  border-radius: 50px;
}
// @media(max-width:576px) {
//   .card-body-md{
//     height: 300px;
//   }
  
// }






//center-banner-start
.banner-bg{
  width: 100vw; //視窗高度100%
  height: 550px;
  background-image: url(/assets/images/img_story/lg-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  
}







//間距
.ms-40{
  margin-left: 40px;
}
.px-50{
  padding: 0 50px;
}

//字體大小
.fs-48{
  font-size: 48px;
}

.fs-55{
  font-size: 55px;
}












