<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>甜點故事專欄</title>
  <link rel="stylesheet" href="../assets/scss/all.css">
  <!-- Swiper CDN  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container-fluid bg-secondary-600 ">
      <div class="d-flex justify-content-center py-4 ">
        <button type="button" class="btn btn-grey-000 ms-40 d-flex align-items-center">
          <img src="/assets/images/img_story/icon-sparkle.png" alt="" class="me-3">
          <span>顧客甜點故事投稿</span>
        </button>
        <button type="button" class="btn btn-grey-000 ms-40 d-flex align-items-center">
          <img src="/assets/images/img_story/icon-present.png" alt="" class="me-3">
          <span>團隊甜點狀作靈感</span>
        </button>
        <button type="button" class="btn btn-grey-000 ms-40 d-flex align-items-center">
          <img src="/assets/images/img_story/icon-cake.png" alt="" class="me-3">
          <span>主題專欄</span>
        </button>
      </div>

  <!-- <%- include('./layout/footer'); -%> -->
  <script type="module" src="../main.js"></script>      
</body>
</html>